/* Экспорт в Excel */
#operations_wrapper .dt-buttons .all-file-excel{
    background-color:#2ecc71;
    color:#ffffff;
    border-color:#ffffff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


/* Сформировать отчет */
#operations_wrapper .dt-buttons .file-excel{
    background-color:#007bff;
    color:#ffffff;
    border-color:#ffffff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

/* Сформировать отчет Excel */
#operations_wrapper .dt-buttons .report-excel{
    background-color:#ff3700;
    color:#ffffff;
    border-color:#ffffff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}